<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="/admin/layouts/head.html"></th:block>
</head>

<body>
<div class="wrapper">
    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="/admin">
                <span class="align-middle">Administation</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin">
                        <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Index</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/user">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">User</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/product">
                        <i class="align-middle" data-feather="square"></i> <span class="align-middle">Product</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin/category">
                        <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Category</span>
                    </a>
                </li>
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="/admin/orders">
                        <i class="align-middle" data-feather="user"></i> <span class="align-middle">Orders</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main">
        <th:block th:insert="/admin/layouts/navbar.html"></th:block>

        <main class="content">
            <div class="container-fluid p-0">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Orders Management Table</h3>
                        <nav class="navbar navbar-expand-lg bg-light">
                            <div class="container-fluid">
                                <form class="d-flex" role="search" th:action="@{/admin/orders/search}" method="get">
                                    <input class="form-control me-2 fst-italic" type="search" name="nameSearch"
                                           placeholder="Enter order's customer name..." aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div th:if="${mess!=null}"
                             class="alert alert-primary alert-dismissible fade show"
                             role="alert" id="alertMessage">
                            <strong th:text="${mess}"></strong>
                        </div>
                        <div th:if="${err!=null}"
                             class="alert alert-danger alert-dismissible fade show"
                             role="alert" id="alertMessageErr">
                            <strong th:text="${err}"></strong>
                        </div>
                        <table id="example1" class="table table-bordered table-striped text-center">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>serial number</th>
                                <th style="width: 130px">Full Name</th>
                                <th>Phone Number</th>
                                <th style="width: 160px">Shipping Address</th>
                                <th>Note</th>
                                <th>Created Date</th>
                                <th style="width: 160px">Total</th>
                                <th>PayStatus</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="orders">
                                <tr th:each="item, index:${orders}">
                                    <td th:text="${index.index + 1}"></td>
                                    <td th:text="${item.orderNumber}"></td>
                                    <td class="w-auto" th:text="${item.receiveName}"></td>
                                    <td th:text="${item.receivePhone}"></td>
                                    <td th:text="${item.receiveAddress}"></td>
                                    <td th:text="${item.note}"></td>
                                    <td th:text="${item.created}"></td>
                                    <td class="w-auto"
                                        th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 0, 'POINT') + ' USD'}"></td>
                                    <td>
                                        <button class="btn"
                                            th:classappend="${item.payStatus ? 'btn-success' : 'btn-danger'}" disabled>
                                            <span th:text="${item.payStatus ? 'Đã thanh toán': 'Chưa thanh toán'}"></span>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn" disabled>
<!--                                           th:classappend="${item.status == 0 ? 'btn-secondary' : (item.status == 1 ? 'btn-success' : 'btn-danger')}"-->
<!--                                           >-->
                                            <span th:text="${item.status}"></span>
                                        </button>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-primary" style="margin-bottom: 5px"
                                           th:href="@{/admin/orders/details/{id}(id=${item.id})}"
                                        >Details
                                        </a>
                                        <a class="btn btn-success"
                                           th:href="@{/admin/orders/confirm/{id}(id=${item.id})}"
                                        >Xác nhận
                                        </a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination float-end mx-4">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{${'/admin/orders'}(page=${(currentPage > 0 ? (currentPage - 1) : 0)})}"
                                   th:classappend="${currentPage == 0 ? 'disabled' : ''}">Previous</a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}">
                                <a class="page-link" th:href="@{${'/admin/orders'}(page=${i - 1})}"
                                   th:classappend="${i==currentPage+1?'active':''}">
                                    <span th:text="${i}"></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{${'/admin/orders'}(page=${(currentPage < totalPage - 1 ? (currentPage + 1) : totalPage)})}"
                                   th:classappend="${currentPage == totalPage - 1 ? 'disabled' : ''}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>

        <th:block th:insert="/admin/layouts/footer.html"></th:block>
    </div>
</div>

<th:block th:insert="/admin/layouts/script.html"></th:block>

</body>

</html>